/*
Theme Name: PocoMarine
Author: Longevity Graphics
Author URI: http://www.longevitygraphics.com
Version: 1.0
Template: twentyten
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    background: transparent;
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    font-family: 'Open Sans', sans-serif;
}

body {
    line-height: 1;
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
    font-weight: normal;
    padding-top: 15px;
    padding-bottom: 15px;
}

ol,
ul {
    list-style: none;
}

blockquote {
    quotes: none;
}

blockquote:before,
blockquote:after {
    content: '';
    content: none;
}

del {
    text-decoration: line-through;
}


/* tables still need 'cellspacing="0"' in the markup */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a img {
    border: none;
}


/* =Layout
-------------------------------------------------------------- */


/*
LAYOUT: Two columns
DESCRIPTION: Two-column fixed layout with one sidebar right of content
*/

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}

main#content {
    display: table-cell;
    margin: 0;
    padding-right: 20px;
    width: 100%;
}

main#content.one-column {
    display: block;
    margin: 0;
    padding: 0 !important;
    width: 100%;
}

aside {
    display: none;
    min-width: 380px;
    width: 380px;
}


/* =Fonts
-------------------------------------------------------------- */

body,
input,
textarea,
.page-title span,
.pingback a.url {
    font-family: Georgia, "Bitstream Charter", serif;
}

h3#comments-title,
h3#reply-title,
nav .menu,
nav div.menu ul,
#cancel-comment-reply-link,
.form-allowed-tags,
#site-info,
#site-title,
#wp-calendar,
.comment-meta,
.comment-body tr th,
.comment-body thead th,
.entry-content label,
.entry-content tr th,
.entry-content thead th,
.entry-meta,
.entry-title,
.entry-utility,
#respond label,
.navigation,
.page-title,
.pingback p,
.reply,
.widget-title,
.wp-caption-text {
    font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
}

input[type="submit"] {
    font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
}

pre {
    font-family: "Courier 10 Pitch", Courier, monospace;
}

code {
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}


/* =Structure
-------------------------------------------------------------- */


/* The main theme structure */

div.menu,
#branding,
section.content,
#container {
    margin: 0 auto;
    width: 1240px;
}

section.content,
#container {
    background: #fff;
    padding: 0;
    box-sizing: border-box;
}

#site-info {
    float: left;
    font-size: 14px;
    font-weight: bold;
    width: 700px;
}


/* =Global Elements
-------------------------------------------------------------- */


/* Main global 'theme' and typographic styles */

div.headerContainer,
div.megaMenuMaxWidth {
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
}

body {
    background: #fff;
}

body,
input,
textarea {
    color: #666;
    font-size: 12px;
    line-height: 18px;
    font-family: 'Open Sans', sans-serif;
}

hr {
    background-color: #e7e7e7;
    border: 0;
    clear: both;
    height: 1px;
    margin-bottom: 18px;
}


/* Text elements */

p {
    margin-bottom: 18px;
}

ul {
    list-style: square;
    margin: 0 0 18px 1.5em;
}

ol {
    list-style: decimal;
    margin: 0 0 18px 1.5em;
}

ol ol {
    list-style: upper-alpha;
}

ol ol ol {
    list-style: lower-roman;
}

ol ol ol ol {
    list-style: lower-alpha;
}

ul ul,
ol ol,
ul ol,
ol ul {
    margin-bottom: 0;
}

dl {
    margin: 0 0 24px 0;
}

dt {
    font-weight: bold;
}

dd {
    margin-bottom: 18px;
}

strong {
    font-weight: bold;
}

cite,
em,
i {
    font-style: italic;
}

big {
    font-size: 131.25%;
}

ins {
    background: #ffc;
    text-decoration: none;
}

blockquote {
    font-style: italic;
    padding: 0 3em;
}

blockquote cite,
blockquote em,
blockquote i {
    font-style: normal;
}

pre {
    background: #f7f7f7;
    color: #222;
    line-height: 18px;
    margin-bottom: 18px;
    overflow: auto;
    padding: 1.5em;
}

abbr,
acronym {
    border-bottom: 1px dotted #666;
    cursor: help;
}

sup,
sub {
    height: 0;
    line-height: 1;
    position: relative;
    vertical-align: baseline;
}

sup {
    bottom: 1ex;
}

sub {
    top: .5ex;
}

small {
    font-size: smaller;
}

input[type="text"],
input[type="tel"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="number"],
textarea {
    background: #fff;
    border: 1px solid #ccc;
    padding: 5px;
    width: 80%;
    box-sizing: border-box;
}

section a:link,
section a:visited {
    color: black;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

section a:active {
    text-decoration: none;
}

section a:hover {
    color: #1d4da2;
    text-decoration: none;
}

a:link,
a:visited,
a:active {
    color: black;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    -webkit-appearance: none;
    border-radius: 0;
/*    font-size: 14px;*/
}

a:hover {
    color: #1d4da2;
}


/* Text meant only for screen readers */

.screen-reader-text {
    position: absolute;
    left: -9000px;
}


/* =Menu
-------------------------------------------------------------- */

nav {
    background: #1d4da2 none repeat scroll 0 0;
    display: block;
    margin: 0 auto;
    width: 100%;
}

nav .menu-header ul,
div.menu ul {
    list-style: none;
    margin: 0;
}

nav .menu-header li,
div.menu li {
    float: left;
    position: relative;
}

nav a {
    /*	color: #aaa !important;*/
    display: block;
    line-height: 38px;
    padding: 0 10px;
    text-decoration: none;
}

nav ul ul {
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
    display: none;
    position: absolute;
    top: 38px;
    left: 0;
    float: left;
    width: 180px;
    z-index: 99999;
}

nav ul ul li {
    min-width: 180px;
}

nav ul ul ul {
    left: 100%;
    top: 0;
}

nav ul ul a {
    background: #333;
    line-height: 1em;
    padding: 10px;
    width: 160px;
    height: auto;
}

nav li:hover > a,
nav ul ul:hover > a {
    background: #333;
    color: #fff;
}

nav ul li:hover > ul {
    display: block;
}

nav ul li.current_page_item > a,
nav ul li.current_page_ancestor > a,
nav ul li.current-menu-ancestor > a,
nav ul li.current-menu-item > a,
nav ul li.current-menu-parent > a {
    color: #fff;
}

* html nav ul li.current_page_item a,
* html nav ul li.current_page_ancestor a,
* html nav ul li.current-menu-ancestor a,
* html nav ul li.current-menu-item a,
* html nav ul li.current-menu-parent a,
* html nav ul li a:hover {
    color: #fff;
}


/* =Content
-------------------------------------------------------------- */

main#content,
main#content input,
main#content textarea {
    color: #333;
    font-size: 16px;
    line-height: 24px;
}

main#content p,
main#content ul,
main#content ol,
main#content dd,
main#content pre,
main#content hr {
    margin-bottom: 24px;
}

main#content ul ul,
main#content ol ol,
main#content ul ol,
main#content ol ul {
    margin-bottom: 0;
}

main#content pre,
main#content kbd,
main#content tt,
main#content var {
    font-size: 15px;
    line-height: 21px;
}

main#content code {
    font-size: 13px;
}

main#content dt,
main#content th {
    color: #000;
}

main#content h1,
main#content h2,
main#content h3,
main#content h4,
main#content h5,
main#content h6 {
    color: #000;
    line-height: 1.5em;
    margin: 0 0 20px 0;
}

main#content table {
    border: 1px solid #e7e7e7;
    margin: 0 -1px 24px 0;
    text-align: left;
    width: 100%;
}

main#content tr th,
main#content thead th {
    color: black;
    font-size: 18px;
    font-weight: bold;
    line-height: 18px;
    padding: 9px 24px;
}

main#content tr td {
    border-top: 1px solid #e7e7e7;
    padding: 6px 24px;
}

main#content tr.odd td {
    background: #f2f7fc;
}

.hentry {
    margin: 0 0 48px 0;
    /*    padding-left: 6%*/
    /*Contact us padding left*/
    min-width: 300px;
}

.home .sticky {
    background: #f2f7fc;
    border-top: 4px solid #000;
    margin-left: -20px;
    margin-right: -20px;
    padding: 18px 20px;
}

.single .hentry {
    margin: 0 0 36px 0;
}

.page-title {
    color: #1d4da2;
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: 600;
    margin: 0 auto;
    padding-bottom: 15px;
    padding-top: 15px;
}

.page-title span {
    color: #333;
    font-size: 16px;
    font-style: italic;
    font-weight: normal;
}

.page-title a:link,
.page-title a:visited {
    color: #777;
    text-decoration: none;
}

.page-title a:active,
.page-title a:hover {
    color: #ff4b33;
}

main#content .entry-title {
    color: #000;
    font-size: 21px;
    font-weight: bold;
    line-height: 1.3em;
    margin-bottom: 0;
}

.entry-title a:link,
.entry-title a:visited {
    color: #000;
    text-decoration: none;
}

.entry-title a:active,
.entry-title a:hover {
    color: #ff4b33;
}

.entry-meta {
    color: #777;
    font-size: 12px;
}

.entry-meta abbr,
.entry-utility abbr {
    border: none;
}

.entry-meta abbr:hover,
.entry-utility abbr:hover {
    border-bottom: 1px dotted #666;
}

main#content .entry-summary p:last-child {
    margin-bottom: 12px;
}

.entry-content fieldset {
    border: 1px solid #e7e7e7;
    margin: 0 0 24px 0;
    padding: 24px;
}

.entry-content fieldset legend {
    background: #fff;
    color: #000;
    font-weight: bold;
    padding: 0 24px;
}

.entry-content input.file,
.entry-content input.button {
    margin-right: 24px;
}

.entry-content label {
    color: #777;
    font-size: 12px;
}

.entry-content select {
    margin: 0 0 24px 0;
}

.entry-content sup,
.entry-content sub {
    font-size: 10px;
}

.entry-content blockquote.left {
    float: left;
    margin-left: 0;
    margin-right: 24px;
    text-align: right;
    width: 33%;
}

.entry-content blockquote.right {
    float: right;
    margin-left: 24px;
    margin-right: 0;
    text-align: left;
    width: 33%;
}

.page-link {
    clear: both;
    color: #000;
    font-weight: bold;
    line-height: 48px;
    word-spacing: 0.5em;
}

.page-link a:link,
.page-link a:visited {
    background: #f1f1f1;
    color: #333;
    font-weight: normal;
    padding: 0.5em 0.75em;
    text-decoration: none;
}

.home .sticky .page-link a {
    background: #d9e8f7;
}

.page-link a:active,
.page-link a:hover {
    color: #ff4b33;
}

body.page .edit-link {
    clear: both;
    display: block;
}

#entry-author-info {
    background: #f2f7fc;
    border-top: 4px solid #000;
    clear: both;
    font-size: 14px;
    line-height: 20px;
    margin: 24px 0;
    overflow: hidden;
    padding: 18px 20px;
}

#entry-author-info #author-avatar {
    background: #fff;
    border: 1px solid #e7e7e7;
    float: left;
    height: 60px;
    margin: 0 -104px 0 0;
    padding: 11px;
}

#entry-author-info #author-description {
    float: left;
    margin: 0 0 0 104px;
}

#entry-author-info h2 {
    color: #000;
    font-size: 100%;
    font-weight: bold;
    margin-bottom: 0;
}

.entry-utility {
    clear: both;
    color: #777;
    font-size: 12px;
    line-height: 18px;
}

.entry-meta a,
.entry-utility a {
    color: #777;
}

.entry-meta a:hover,
.entry-utility a:hover {
    color: #ff4b33;
}

main#content .video-player {
    padding: 0;
}


/* =Asides
-------------------------------------------------------------- */

.home main#content .format-aside p,
.home main#content .category-asides p {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
    margin-top: 0;
}

.home .hentry.format-aside,
.home .hentry.category-asides {
    padding: 0;
}

.home main#content .format-aside .entry-content,
.home main#content .category-asides .entry-content {
    padding-top: 0;
}


/* =Gallery listing
-------------------------------------------------------------- */

.format-gallery .size-thumbnail img,
.category-gallery .size-thumbnail img {
    border: 10px solid #f1f1f1;
    margin-bottom: 0;
}

.format-gallery .gallery-thumb,
.category-gallery .gallery-thumb {
    float: left;
    margin-right: 20px;
    margin-top: -4px;
}

.home main#content .format-gallery .entry-utility,
.home main#content .category-gallery .entry-utility {
    padding-top: 4px;
}


/* =Attachment pages
-------------------------------------------------------------- */

.attachment .entry-content .entry-caption {
    font-size: 140%;
    margin-top: 24px;
}

.attachment .entry-content .nav-previous a:before {
    content: '\2190\00a0';
}

.attachment .entry-content .nav-next a:after {
    content: '\00a0\2192';
}


/* =Images
-------------------------------------------------------------- */


/*
Resize images to fit the main content area.
- Applies only to images uploaded via WordPress by targeting size-* classes.
- Other images will be left alone. Use "size-auto" class to apply to other images.
*/

img.size-auto,
img.size-full,
img.size-large,
img.size-medium,
.attachment img,
.widget-container img {
    max-width: 100%;
    /* When images are too wide for containing element, force them to fit. */
    height: auto;
    /* Override height to match resized width for correct aspect ratio. */
}

.alignleft,
img.alignleft {
    display: inline;
    float: left;
    margin-right: 24px;
    margin-top: 4px;
}

.alignright,
img.alignright {
    display: inline;
    float: right;
    margin-left: 24px;
    margin-top: 4px;
}

.aligncenter,
img.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.alignleft,
img.alignright,
img.aligncenter {
    margin-bottom: 12px;
}

.wp-caption {
    background: #f1f1f1;
    line-height: 18px;
    margin-bottom: 20px;
    max-width: 632px !important;
    /* prevent too-wide images from breaking layout */
    padding: 4px;
    text-align: center;
}

.wp-caption img {
    margin: 5px 5px 0;
    max-width: 622px;
    /* caption width - 10px */
}

.wp-caption p.wp-caption-text {
    color: #777;
    font-size: 12px;
    margin: 5px;
}

.wp-smiley {
    margin: 0;
}

.gallery {
    margin: 0 auto 18px;
}

.gallery .gallery-item {
    float: left;
    margin-top: 0;
    text-align: center;
    width: 33%;
}

.gallery-columns-2 .gallery-item {
    width: 50%;
}

.gallery-columns-4 .gallery-item {
    width: 25%;
}

.gallery img {
    border: 2px solid #cfcfcf;
}

.gallery-columns-2 .attachment-medium {
    max-width: 92%;
    height: auto;
}

.gallery-columns-4 .attachment-thumbnail {
    max-width: 84%;
    height: auto;
}

.gallery .gallery-caption {
    color: #777;
    font-size: 12px;
    margin: 0 0 12px;
}

.gallery dl {
    margin: 0;
}

.gallery img {
    border: 10px solid #f1f1f1;
}

.gallery br+br {
    display: none;
}

main#content .attachment img {
    /* single attachment images should be centered */
    display: block;
    margin: 0 auto;
}


/* =Navigation
-------------------------------------------------------------- */

.navigation {
    color: #777;
    font-size: 12px;
    line-height: 18px;
    overflow: hidden;
}

.navigation a:link,
.navigation a:visited {
    color: #777;
    text-decoration: none;
}

.navigation a:active,
.navigation a:hover {
    color: #ff4b33;
}

.nav-previous {
    float: left;
    width: 50%;
}

.nav-next {
    float: right;
    text-align: right;
    width: 50%;
}

#nav-above {
    margin: 0 0 18px 0;
}

#nav-above {
    display: none;
}

.paged #nav-above,
.single #nav-above {
    display: block;
}

#nav-below {
    margin: -18px 0 0 0;
}


/* =Comments
-------------------------------------------------------------- */

#comments {
    clear: both;
}

#comments .navigation {
    padding: 0 0 18px 0;
}

h3#comments-title,
h3#reply-title {
    color: #000;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0;
}

h3#comments-title {
    padding: 24px 0;
}

.commentlist {
    list-style: none;
    margin: 0;
}

.commentlist li.comment {
    border-bottom: 1px solid #e7e7e7;
    line-height: 24px;
    margin: 0 0 24px 0;
    padding: 0 0 0 56px;
    position: relative;
}

.commentlist li:last-child {
    border-bottom: none;
    margin-bottom: 0;
}

#comments .comment-body ul,
#comments .comment-body ol {
    margin-bottom: 18px;
}

#comments .comment-body p:last-child {
    margin-bottom: 6px;
}

#comments .comment-body blockquote p:last-child {
    margin-bottom: 24px;
}

.commentlist ol {
    list-style: decimal;
}

.commentlist .avatar {
    position: absolute;
    top: 4px;
    left: 0;
}

.comment-author {}

.comment-author cite {
    color: #000;
    font-style: normal;
    font-weight: bold;
}

.comment-author .says {
    font-style: italic;
}

.comment-meta {
    font-size: 12px;
    margin: 0 0 18px 0;
}

.comment-meta a:link,
.comment-meta a:visited {
    color: #777;
    text-decoration: none;
}

.comment-meta a:active,
.comment-meta a:hover {
    color: #ff4b33;
}

.commentlist .even {}

.commentlist .bypostauthor {}

.reply {
    font-size: 12px;
    padding: 0 0 24px 0;
}

.reply a,
a.comment-edit-link {
    color: #777;
}

.reply a:hover,
a.comment-edit-link:hover {
    color: #ff4b33;
}

.commentlist .children {
    list-style: none;
    margin: 0;
}

.commentlist .children li {
    border: none;
    margin: 0;
}

.nopassword,
.nocomments {
    display: none;
}

#comments .pingback {
    border-bottom: 1px solid #e7e7e7;
    margin-bottom: 18px;
    padding-bottom: 18px;
}

.commentlist li.comment+li.pingback {
    margin-top: -6px;
}

#comments .pingback p {
    color: #777;
    display: block;
    font-size: 12px;
    line-height: 18px;
    margin: 0;
}

#comments .pingback .url {
    font-size: 13px;
    font-style: italic;
}


/* Comments form */

input[type="submit"] {
    color: #333;
}

input[type="submit"]:hover {
    cursor: pointer;
}

#respond {
    border-top: 1px solid #e7e7e7;
    margin: 24px 0;
    overflow: hidden;
    position: relative;
}

#respond p {
    margin: 0;
}

#respond .comment-notes {
    margin-bottom: 1em;
}

.form-allowed-tags {
    line-height: 1em;
}

.children #respond {
    margin: 0 48px 0 0;
}

h3#reply-title {
    margin: 18px 0;
}

#comments-list #respond {
    margin: 0 0 18px 0;
}

#comments-list ul #respond {
    margin: 0;
}

#cancel-comment-reply-link {
    font-size: 12px;
    font-weight: normal;
    line-height: 18px;
}

#respond .required {
    color: #ff4b33;
    font-weight: bold;
}

#respond label {
    color: #777;
    font-size: 12px;
}

#respond input {
    margin: 0 0 9px;
    width: 98%;
}

#respond textarea {
    width: 98%;
}

#respond .form-allowed-tags {
    color: #777;
    font-size: 12px;
    line-height: 18px;
}

#respond .form-allowed-tags code {
    font-size: 11px;
}

#respond .form-submit {
    margin: 12px 0;
}

#respond .form-submit input {
    font-size: 14px;
    width: auto;
}


/* =Widget Areas
-------------------------------------------------------------- */

aside select {
    max-width: 100%;
}

.widget_search #s {
    /* This keeps the search inputs in line */
    width: 60%;
}

.widget_search label {
    display: none;
}

.widget-container {
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    margin: 0 0 18px 0;
}

.widget-container .wp-caption img {
    margin: auto;
}

.widget-title {
    color: #222;
    font-weight: bold;
}

aside .entry-meta {
    font-size: 11px;
}

#wp_tag_cloud div {
    line-height: 1.6em;
}

#wp-calendar {
    width: 100%;
}

#wp-calendar caption {
    color: #222;
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 4px;
    text-align: left;
}

#wp-calendar thead {
    font-size: 11px;
}

#wp-calendar thead th {}

#wp-calendar tbody {
    color: #aaa;
}

#wp-calendar tbody td {
    background: #f5f5f5;
    border: 1px solid #fff;
    padding: 3px 0 2px;
    text-align: center;
}

#wp-calendar tbody .pad {
    background: none;
}

#wp-calendar tfoot #next {
    text-align: right;
}

.widget_rss a.rsswidget {
    color: #000;
}

.widget_rss a.rsswidget:hover {
    color: #ff4b33;
}

.widget_rss .widget-title img {
    width: 11px;
    height: 11px;
}


/* =Footer
-------------------------------------------------------------- */

#site-info {
    font-weight: bold;
}

#site-info a {
    color: #000;
    text-decoration: none;
}

#site-generator {
    font-style: italic;
    position: relative;
}

#site-generator a {
    background: url(images/wordpress.png) center left no-repeat;
    color: #666;
    display: inline-block;
    line-height: 16px;
    padding-left: 20px;
    text-decoration: none;
}

#site-generator a:hover {
    text-decoration: none;
}

img#wpstats {
    display: block;
    margin: 0 auto 10px;
}

input.newsletter-email {
    width: 164px;
    float: left;
    right: -68px;
    position: relative;
    height: 28px;
}



/* =Mobile Safari ( iPad, iPhone and iPod Touch )
-------------------------------------------------------------- */

pre {
    -webkit-text-size-adjust: 140%;
}

code {
    -webkit-text-size-adjust: 160%;
}

nav,
.entry-meta,
.entry-utility,
.navigation,
aside {
    -webkit-text-size-adjust: 120%;
}

#site-description {
    -webkit-text-size-adjust: none;
}


/* =Print Style
-------------------------------------------------------------- */

@media print {
    body {
        background: none !important;
    }
    section.content {
        clear: both !important;
        display: block !important;
        float: none !important;
        position: relative !important;
    }
    .container,
    #content {
        border-bottom: 2pt solid #000;
        padding-bottom: 18pt;
    }
    #site-title,
    #site-description {
        float: none;
        line-height: 1.4em;
        margin: 0;
        padding: 0;
    }
    #site-title {
        font-size: 13pt;
    }
    .entry-content {
        font-size: 14pt;
        line-height: 1.6em;
    }
    .entry-title {
        font-size: 21pt;
    }
    nav,
    #branding img,
    #respond,
    .comment-edit-link,
    .edit-link,
    .navigation,
    .page-link,
    aside {
        display: none !important;
    }
    main#content,
    .container,
    #content {
        margin: 0;
        width: 100%;
    }
    main#content,
    main#content.one-column {
        margin: 24pt 0 0;
        width: 100%;
    }
    .wp-caption p {
        font-size: 11pt;
    }
    #site-info,
    #site-generator {
        float: none;
        width: auto;
    }
    img#wpstats {
        display: none;
    }
    #site-generator a {
        margin: 0;
        padding: 0;
    }
    #entry-author-info {
        border: 1px solid #e7e7e7;
    }
    .home .sticky {
        border: none;
    }
}


/**********************************GENERAL**********************************/

.left {
    float: left;
}

.right {
    float: right;
}


/**********************************HEADER**********************************/

header {
    background: #fff;
    overflow: auto;
}

#logo h1 {
    display: none;
    height: 0;
    text-indent: -9999px;
}

div.headerContainerBackground {
    background-color: #eaeaea;
}

.cart-contents:hover {text-decoration: none}

a.cart-contents{
        position: relative;
    left: 250px;
    top: 35px;
    float: right;
    border: 1px solid #eaeaea;
        padding:15px 5px;
}

/*div.logoAndSearchBar{
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
}*/


/**********************************FOOTER**********************************/

#longevity {
    width: 48%;
    float: right;
    text-align: right;
    color: black;
    font-size: 14px;
}

#copyright {
    width: 48%;
    float: left;
    color: black;
    font-size: 14px;
}

#footer3Title{
    text-align: left;
    position: relative;
    left: 68px;
    width: 60%;
}


/**********************************MISC**********************************/

div.wpcf7 {
    position: relative;
}

.wpcf7-form img.wpcf7-form-control {
    margin-top: 2px;
    position: absolute;
    right: 110px;
    /*    right: 0px;*/
}

span.wpcf7-not-valid-tip,
div.wpcf7-mail-sent-ok {
    display: none !important;
}

.wpcf7-not-valid {
    border: 1px solid #ec0000 !important;
}

div.wpcf7-validation-errors {
    border: medium none !important;
    color: #ec0000;
    margin: 0 !important;
    padding: 0 !important;
}

input.formbutton {
    background: #3e98d6 !important;
    border: 0px;
    text-transform: uppercase;
    font-size: 14px !important;
    font-weight: 600;
    text-align: center;
    color: white !important;
    padding: 5px 10px 5px 10px;
    width: 80% !important;
}

input.formbutton:hover {
    background-color: #1d4da2 !important;
    -webkit-transition: all ease-in-out .2s;
    -moz-transition: all ease-in-out .2s;
    transition: all ease-in-out .2s;
}

a.checkout-button.button.alt.wc-forward{
    background-color: #3e98d6 !important;
}

a.checkout-button.button.alt.wc-forward:hover{
        background-color: #1d4da2 !important;
    -webkit-transition: all ease-in-out .2s;
    -moz-transition: all ease-in-out .2s;
    transition: all ease-in-out .2s;
}

/*********************************CUSTOMIZATION**************************/

h2.entry-title {
    display: none;
}

#topnav {
    background-color: #eaeaea;
}

ul#menu-menu-2.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li#menu-item-4749,
li#menu-item-4750,
li#menu-item-4751 {
    float: right;
    display: block;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
}

a#logo {
    float: left;
    padding: 10px 0;
}

form.woocommerce-product-search {
    float: right;
    position: relative;
    top: 60px;
    right: 100px;
}

input.search-field.form-control {
    border: 1px solid #ccc;
    border-right: none;
    box-sizing: border-box;
    height: 25px;
    min-width: 250px;
    font-family: 'Open Sans', sans-serif;
}

button.btn.btn-default {
    cursor: pointer;
    margin-left: -4px;
    padding: 4px;
    border: 1px solid #ccc;
    border-left: none;
}

div.footer1 {
    padding-top: 100px;
    width: 25%;
    float: left;
    text-align: left;
    border-right: 1px solid #cdcdcd;
    height: 100px;
    color: black;
}

div.footer2 {
    width: 48%;
    float: left;
    text-align: center;
    padding-top: 15px;
}

div.footer3 {
    padding-top: 100px;
    width: 25%;
    float: left;
    text-align: right;
    border-left: 1px solid #cdcdcd;
    height: 100px;
    color: black;
}

div.footer1,
div.footer2,
div.footer3 {
    padding-bottom: 15px;

}

div.footer4 {
    width: 100%;
    float: left;
    background-color: #eaeaea;
}

div.customerSupport2,
div.customerSupport3,
div.customerSupport4 {
    width: 33%;
    float: left;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 12px;
}

p.footerTitle {
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 1.4em;
}

#phoneAndMail{
        width: 48%;
    float: left;
}



p.footerCS {
    font-size: 1.5em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #1d4da2;
    text-align: center;
}

input.newsletter-submit {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 10px;
    font-weight: normal;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #282828;
    color: white;
    position: relative;
}

div.section1 {
    float: left;
    padding-left: 5%;
    width: 50%;
    padding-right: 15px;
    text-align: right;
}

div.section2 {
    float: left;
    width: 50%;
    padding-right: 5%;
    padding-left: 15px;
}

div.owl-item {
    width: 100%;
    max-width: 200px;
    min-width: 100px;
    padding-left: 20px;
    padding-right: 20px;
}

a#wa_chpc_slider_prev.wps_prev,
a#wa_chpc_slider_next.wps_next {
    padding-top: 0px;
    width: 10%
}

a#wa_chpc_slider_prev.wps_prev:hover,
a#wa_chpc_slider_next.wps_next:hover {
    background-color: rgba(255, 255, 255, 0) !important;
    color: black;
}

div.wps_foo_content {
    color: black;
    border: 1px solid #eaeaea;
}

a.wa_wps_button.add_to_cart_button.product_type_simple,
a.button.product_type_simple.add_to_cart_button.ajax_add_to_cart {
    background: #ffd06a;
    border: 0px;
    text-transform: uppercase;
    font-size: 12px !important;
    font-weight: 600;
    width: 50%;
    min-width: 100px;
    text-align: center;
    text-shadow: none;
}

a.wa_wps_button.add_to_cart_button.product_type_simple:hover,
a.button.product_type_simple.add_to_cart_button.ajax_add_to_cart:hover {
    color: white;
    background-color: #2ca3df;
}

div.section3 {
    color: #1d4da2;
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    float: left;
    padding-top: 30px;
    width: 100%;
    width: 25%;
    float: left;

}

nav.woocommerce-breadcrumb {
    display: none;
}

div.breadcrumbs {
    margin: 0 auto;
    padding: 15px 0 15px 0;
    font-family: 'Open Sans', sans-serif;
}

a.mega-menu-link {
    color: white;
    background-color: white;
}

span.posted_in {
    float: left;
}

span.sku_wrapper {
    float: left;
    width: 50%;
}

h1.entry-title {
    font-family: 'Open Sans', sans-serif;
    color: #1d4da2 !important;
    font-size: 24px !important;
    font-weight: 600 !important;
    margin: 0 0 36px 0 !important;
}

a.edit {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

a.edit:focus,
a.edit.focus {
    color: #fff;
    background-color: #c9302c;
    border-color: #761c19;
}

a.edit:hover {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
}

div.contactSection1 {
    font-family: 'Open Sans', sans-serif;
}

div.contactForm {
    width: 50%;
    float: left;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

div.contactAndMap {
    width: 50%;
    float: left;
}

#mega-menu-item-4873,
#mega-menu-item-4868,
#mega-menu-item-4874 {
    float: right !important;
}

#mega-menu-item-4868 > a,
#mega-menu-item-4873 > a,
#mega-menu-item-4874 > a {
    font-size: 12px !important;
    font-family: 'Open Sans', sans-serif;
}

.home div.breadcrumbs {
    display: none;
}

#mega-menu-item-4694 > a {
    padding: 0 !important;
}

div.footerSection {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
}

footer.fullwidth {
    display: flex;
    background-color: #eaeaea;
}

div#footerCopyright {
    width: 100%;
    margin: 0 auto;
    max-width: 1240px;
}

header.fullwidth {
    margin: 0 auto;
    width: 100%;
}

#place_order {
    color: white !important;
}

p.contactUsBoxes {
    width: 50%;
    float: left;
}

div.megaMenuBackground {
    background: #1d4da2 none repeat scroll 0 0;
}

div#footerBackgroundColor {
    background-color: #eaeaea !important;
}

div.bodyContent{
    padding-top: 30px;
}

div.wa_wps_price > span.woocommerce-Price-amount.amount{
    color: #1d4da2 !important;
}

div.featuredTitle{
    display: block;
    width: 74%;
    float: left;
    bottom: -32px;
    position: relative;
    border-top: 2px solid #eaeaea;
    border-bottom: 2px solid #eaeaea;
    height: 10px;
}

span.wps_title{
    overflow: hidden;
    width: 17em;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: -10px;
}
.wps_foo_content .wps_img{
    padding-top: 35px;
}

/***************************** Woo commerce style ************************************/

button.single_add_to_cart_button.button.alt {
    color: black !important;
    background-color: #ffd06a !important;
    border: 0px;
    text-transform: uppercase;
    font-size: 12px !important;
    font-weight: 600;
    width: 25%;
    min-width: 100px;
    text-align: center;
    text-shadow: none;
}

button.single_add_to_cart_button.button.alt:hover {
    color: white !important;
    background-color: #2ca3df !important;
    -webkit-transition: all ease-in-out .2s;
    -moz-transition: all ease-in-out .2s;
    transition: all ease-in-out .2s;
}

.woocommerce div.product .product_title{
    line-height: 1.5em;
}

img.attachment-shop_single.size-shop_single.wp-post-image{
    max-width: 50% !important;
}

span.woocommerce-Price-amount.amount{
    color:black;
    font-weight: 600;
    font-size: 1em;
}

.cart-contents:before{
    font-family:WooCommerce;
    content: "\e01d";
    font-size:28px;
    margin-top:10px;
    font-style:normal;
    font-weight:400;
    padding-right:5px;
    vertical-align: bottom;

    }


nav.woocommerce-MyAccount-navigation{
    background-color: transparent !important;
    list-style-type: none !important;
}

nav.woocommerce-MyAccount-navigation > ul {
    list-style-type: none !important;
}

nav.woocommerce-MyAccount-navigation > ul >li >a{
    font-size: 1.3em;
    margin-top: 15px;
    font-weight: 600
}

nav.woocommerce-MyAccount-navigation > ul >li >a:hover,
nav.woocommerce-MyAccount-navigation > ul >li >a:active{
        color: white !important;
    background-color: #2ca3df !important;
    -webkit-transition: all ease-in-out .5s;
    -moz-transition: all ease-in-out .5s;
    transition: all ease-in-out .5s;
}
/************************** Home page two colume sections *****************************/

div#shopNowLeft {
    background: url(images/Buyo-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 47.5% !important;
    min-height: 280px;
    margin-right: 2.5%;
}

div#shopNowRight {
    background: url(images/GPS-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 47.5% !important;
    min-height: 280px;
    margin-left: 2.5%
}


p.title1,
p.title2 {
    font-size: 28px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    color: #1d4da2;
    line-height: 32px;
    padding: 10px;
    margin-bottom: 0px !important;
}

p.article1,
p.article2 {
    font-family: 'Open Sans', sans-serif;
    padding: 10px;
    font-size: 14px;
}

button.shopNow {
    cursor: pointer;
    background: #3e98d6;
    border: 0px;
    text-transform: uppercase;
    font-size: 14px !important;
    font-weight: 600;
    text-align: center;
    color: white;
    padding: 10px 15px 10px 15px;
    margin: 10px;
    float: right;
}

button.shopNow:hover {
    background-color: #1d4da2;
    -webkit-transition: all ease-in-out .2s;
    -moz-transition: all ease-in-out .2s;
    transition: all ease-in-out .2s;
}


/*
#post-4964 {
    padding-left: 10%;
}
*/


/************************** RevSlider  *****************************/


/************ Change the number to current post ID number *****************/

#slide-4826-layer-4,
#slide-1907-layer-4,
#rev_slider_2_1 > ul > li > div:nth-child(4) > div > div {
    font-family: 'Open Sans', sans-serif;
    color: #1d4da2 !important;
    letter-spacing: 1.2px !important;
    font-weight: 600 !important;
    text-align: center !important;
    text-transform: uppercase;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

#slide-4826-layer-8,
#slide-1907-layer-8 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

#slide-4826-layer-9 > span,
#slide-1907-layer-9 > span {
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    font-weight: 500;
    text-align: center;
}

#slide-4826-layer-5 > i,
#slide-1907-layer-5 > i {
    background: #ffd06a;
    color: white;
    border: 0px;
    text-transform: uppercase;
    font-size: 14px !important;
    font-weight: 600;
    width: 100%;
    text-align: center;
    padding: 10px !important;
}

#slide-4826-layer-5 > i:hover,
#slide-1907-layer-5 > i:hover {
    background-color: #2ca3df;
    color: white !important;
    text-decoration: none;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    -webkit-appearance: none;
    border-radius: 0;
}

#slide-4826-layer-5 > i:hover > a:hover,
#slide-1907-layer-5 > i:hover > a:hover {
    color: white !important;
}

div.revSliderBox {
    border: 2px solid #ccc !important;
    border-top: 3px solid black !important;
}

#rev_slider_2_1 > div.tp-bullets.hephaistos.horizontal.nav-pos-hor-center.nav-pos-ver-bottom.nav-dir-horizontal.noSwipe > div {
    display: none;
}


/**********************************RESPONSIVE STYLES**********************************/

section.content,
div.menu,
#branding,
.container,
#container,
#content {
    width: 1240px;
}

.fullwidth {
    margin: 0 auto;
    width: 100%;
    display: inline-block;
}

.container,
#content {
    margin: 0 auto;
}


/*.page-template-fullwidth-page section.content {
    width: 100%;
    display: inline-block;
}*/

@media screen and (max-width: 1280px) {
    section.content,
    .container,
    #container,
    #content {
        width: 94% !important;
    }
    div.menu,
    #branding,
    .container,
    #content {
        margin: 0 auto;
        width: 100%;
    }
    aside {
        overflow: hidden;
    }
    /*
  LAYOUT: Two columns
  DESCRIPTION: Responsive.
  940 = 720 + 220
  100% = 76.5957447% + 23.40425535% 
  */
    aside {
        overflow: hidden;
        width: 23.40425535%/* 200px / 940px */
        padding-left: 0 !important;
    }
    div.footer1 {
        height: 100px;
    }
    div.footer3 {
        height: 100px;
    }
}


/*@media screen and (min-width: 1200px) {
    div.caroufredsel_warpper {
        max-width: 1200px;
    }
    div.entry-content {
        max-width: 1240px;
        margin: auto;
    }
    div.bodyContent {
        max-width: 1240px;
        width: 100%;
        margin: auto;
    }
    .page-title {
        padding-left: 6.5%;
    }
}*/


/*@media screen and (max-width: 1085px) {
    div.footer1,
    div.footer2,
    div.footer3 {
        width: 28%;
    }
    div.customerSupport2,
div.customerSupport3,
div.customerSupport4 {
    width: 29%;
}
}*/

@media screen and (max-width: 1024px) {
    #post-6 > div > div:nth-child(3) > div:nth-child(1),
    #post-6 > div > div:nth-child(3) > div.content-column.one_half.last_column {
        text-align: center;
    }
    div.footer1,
    div.footer3 {
        height: 135px;
    }
}

@media screen and (max-width: 980px) {
    div.contactForm {
        width: 100%;
        float: none;
        text-align: center;
        padding-top: 20px;
    }
    div.contactAndMap {
        width: 100%;
        float: none;
        text-align: center;
    }
    input.formbutton {
        margin-left: 18px;
        float: none;
        text-align: center;
    }
    div.customerSupport2,
    div.customerSupport3,
    div.customerSupport4 {
        width: 33%;
        box-sizing: border-box;
    }
}


/*@media screen and (max-width: 840px) {
    div.footer1,
    div.footer3 {
        height: 275px;
    }
    .wpcf7-form img.wpcf7-form-control {
        right: 80px;
    }
}*/

@media screen and (max-width: 768px) {
    section.content,
    .container,
    main#content,
    aside,
    #container,
    #content {
        box-sizing: border-box;
        display: block;
        margin: 0;
        min-width: unset;
        padding: 0 10px;
        width: 100% !important;
    }
    section.content,
    #container {
        padding: 0 !important;
    }
    .fixed-header[style] {
        display: none !important;
    }
    /*section.content,
    main#content,
    aside {
        display: inline-block;
        width: 100% !important;
        padding: 0 10px;
        margin: 0;
        box-sizing: border-box;
        min-width: inherit;
        min-width: initial;
        min-width: unset;
    }
    .container, #content {
        background-color: #fff;
    }
    section.content {
        padding: 0 !important;
    }*/
    ul.products {
        padding: 50px !important;
    }
    div.entry-content {
        padding-left: 5%;
        padding-right: 5%;
    }
  
    form.woocommerce-product-search {
        
    }
    button.btn.btn-default {
        margin-left: -5px;
    }
/*
    main#content .entry-title {
        padding-left: 5%;
    }
*/
    /*    Mega menu css (contact us, clearance items etc.)*/
    #mega-menu-item-4873,
    #mega-menu-item-4868,
    #mega-menu-item-4874 {
        float: left!important;
        width: 100% !important;
        padding-right: 0% !important;
    }
    ul#menu-menu-2.menu {
        padding-right: 0%;
    }

    p.title1,
    p.title2 {
        margin-bottom: 0px !important;
    }
    div.footer1,
    div.footer2,
    div.footer3 {
        float: left;
        width: 100%;
        text-align: center;
        padding-left: 0;
        padding-right: 0;
    }
    div.footer1 {
        padding-top: 15px;
        height: auto;
        border-right: 0px solid black;
        padding-left: 0;
    }
    div.footer3 {
        padding-top: 15px;
        height: auto;
        border-left: 0px solid black;
        padding-top: 55px;
    }
    div.footer4 {
        text-align: center;
        padding-left: 0%;
        padding-right: 0%;
        max-width: 1280px;
    }
    #longevity {
        float: none;
        padding-right: 0%;
        width: 100%;
        text-align: center;
    }
    #copyright {
        float: none;
        padding-left: 0%;
        width: 100%;
        text-align: center;
    }
    div.logoAndSearchBar {
        height: 160px;
    }
    
    
}

@media screen and (max-width: 680px) {
    a.cart-contents{
        left: 0px;
        top: 50px;
        float: left;
    }
    
     form.woocommerce-product-search {
        float: none;
         right: 0px;
         top:20px;
    }
    
}

@media screen and (max-width: 603px) {
    div#shopNowLeft {
    width: 100% !important;
    margin-right: 0px;
        margin-bottom: 5px;
}
    div#shopNowRight{
        width: 100% !important;
        margin-left: 0px;
        margin-top: 5px;
    }
    
}

@media screen and (max-width: 550px) {
    a.cart-contents{
      display: none;
    }
    
     form.woocommerce-product-search {
         right: 0px;
         top:0px;
         width:100%;
         padding-bottom: 15px;
         text-align: center;
    }
    
    a#logo{
        width: 100%;
        float: left;
        text-align: center;
    }
    
}

@media screen and (max-width: 480px) {
    ul.products {
        padding: 10px !important;
    }
    .woocommerce div.product {
        margin-bottom: 0;
        position: relative;
    }
    iframe {
        width: 250px;
        height: 250px;
    }
    p.title1,
    p.title2 {
        font-size: 24px;
    }
    input.search-field.form-control {
        min-width: 200px;
    }
}


/*@media screen and (max-width: 410px) {
    ul#menu-menu-2.menu {
        padding-right: 10%;
    }
    .wpcf7-form img.wpcf7-form-control {
        right: 40px;
    }
    
    body > div.right.cart-tab.light.visible{
        display: none;
    }
    a#logo{
    padding-left: 20% !important;
    }
}*/


}
@media screen and (max-width: 320px) {
    input.search-field.form-control {
        width: 80%;
    }
}
@media only screen and (min-width:768px) {
    .scroll-back-to-top-wrapper {
        display: none;
    }
}