/*
Theme Name: PocoMarine
Author: Longevity Graphics
Author URI: http://www.longevitygraphics.com
Version: 1.0
Template: twentyten


div{
    border: 1px solid red !important;
}*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    background: transparent;
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    font-family: 'Open Sans', sans-serif;
}

body {
    line-height: 1;
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
    font-weight: normal;
    padding-top: 15px;
    padding-bottom: 15px;
}

ol,
ul {
    list-style: none;
}

blockquote {
    quotes: none;
}

blockquote:before,
blockquote:after {
    content: '';
    content: none;
}

del {
    text-decoration: line-through;
}


/* tables still need 'cellspacing="0"' in the markup */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a img {
    border: none;
}

a {
    outline: 0;
}


/* =Layout
-------------------------------------------------------------- */


/*
LAYOUT: Two columns
DESCRIPTION: Two-column fixed layout with one sidebar right of content
*/

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
section,
summary {
    display: block;
}

nav{clear:both;
    display: block;}

main#content {
    display: table-cell;
    margin: 0;
    padding-right: 20px;
    width: 100%;
}

main#content.one-column {
    display: block;
    margin: 0;
    padding: 0 !important;
    width: 100%;
    min-height: 350px;
}

aside {
    display: none;
    min-width: 380px;
    width: 380px;
}


/* =Fonts
-------------------------------------------------------------- */

body,
input,
textarea,
.page-title span,
.pingback a.url {
    font-family: Georgia, "Bitstream Charter", serif;
}

h3#comments-title,
h3#reply-title,
nav .menu,
nav div.menu ul,
#cancel-comment-reply-link,
.form-allowed-tags,
#site-info,
#site-title,
#wp-calendar,
.comment-meta,
.comment-body tr th,
.comment-body thead th,
.entry-content label,
.entry-content tr th,
.entry-content thead th,
.entry-meta,
.entry-title,
.entry-utility,
#respond label,
.navigation,
.page-title,
.pingback p,
.reply,
.widget-title,
.wp-caption-text {
    font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
}

input[type="submit"] {
    font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
}

pre {
    font-family: "Courier 10 Pitch", Courier, monospace;
}

code {
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}


/* =Structure
-------------------------------------------------------------- */


/* The main theme structure */

div.menu,
#branding,
section.content,
#container {
    margin: 0 auto;
    width: 1280px;
}

section.content,
#container {
    background: #fff;
    padding: 0;
    box-sizing: border-box;
}

#site-info {
    float: left;
    font-size: 14px;
    font-weight: bold;
    width: 700px;
}


/* =Global Elements
-------------------------------------------------------------- */

input::-moz-focus-inner {
    border: 0;
    padding: 0;
    margin-top: -1px;
    margin-bottom: -1px;
}


/*
FireFox search bar button adjustment
button::-moz-focus-inner 
{ border: 0; 
    padding: 0; 
    padding-bottom: 3px;
    margin:0; 
    margin-top:-3px;
margin-bottom:-2px;
}
*/


/* Main global 'theme' and typographic styles */

div.headerContainer,
div.megaMenuMaxWidth {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

body {
    background: #fff;
}

body,
input,
textarea {
    color: #666;
    font-size: 12px;
    line-height: 18px;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

hr {
    background-color: #e7e7e7;
    border: 0;
    clear: both;
    height: 1px;
    margin-bottom: 18px;
}


/* Text elements */

p {
    margin-bottom: 18px;
}

ul {
    list-style: circle;
    margin: 0 0 18px 1.5em;
}

nav.woocommerce-MyAccount-navigation > ul{
    margin: 0 ;
}

ol {
    list-style: decimal;
    margin: 0 0 18px 1.5em;
}

ol ol {
    list-style: upper-alpha;
}

ol ol ol {
    list-style: lower-roman;
}

ol ol ol ol {
    list-style: lower-alpha;
}

ul ul,
ol ol,
ul ol,
ol ul {
    margin-bottom: 0;
}

dl {
    margin: 0 0 24px 0;
}

dt {
    font-weight: bold;
}

dd {
    margin-bottom: 18px;
}

strong {
    font-weight: bold;
}

cite,
em,
i {
    font-style: italic;
}

big {
    font-size: 131.25%;
}

ins {
    background: #ffc;
    text-decoration: none;
}

blockquote {
    font-style: italic;
    padding: 0 3em;
}

blockquote cite,
blockquote em,
blockquote i {
    font-style: normal;
}

pre {
    background: #f7f7f7;
    color: #222;
    line-height: 18px;
    margin-bottom: 18px;
    overflow: auto;
    padding: 1.5em;
}

abbr,
acronym {
    border-bottom: 1px dotted #666;
    cursor: help;
}

sup,
sub {
    height: 0;
    line-height: 1;
    position: relative;
    vertical-align: baseline;
}

sup {
    bottom: 1ex;
}

sub {
    top: .5ex;
}

small {
    font-size: smaller;
}

input[type="text"],
input[type="tel"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="number"],
textarea {
    background: #fff;
    border: 1px solid #ccc;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
}

section a:link,
section a:visited {
    color: #1d4da2;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

section a:active {
    text-decoration: none;
}

section a:hover {
    color: #2ca3df;
    text-decoration: none;
}

a:link,
a:visited,
a:active {
    color: #333;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    -webkit-appearance: none;
    border-radius: 0;
    /*    font-size: 14px;*/
}

a:hover {
    color: #1d4da2;
}


/* Text meant only for screen readers */

.screen-reader-text {
    position: absolute;
    left: -9000px;
}


/* =Menu
-------------------------------------------------------------- */

nav {
    background: #1d4da2 none repeat scroll 0 0;
    display: block;
    margin: 0 auto;
    width: 100%;
}

nav .menu-header ul,
div.menu ul {
    list-style: none;
    margin: 0;
}

nav .menu-header li,
div.menu li {
    float: left;
    position: relative;
}

nav a {
    display: block;
    line-height: 38px;
    text-decoration: none;
}

nav ul ul {
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
    display: none;
    position: absolute;
    top: 38px;
    left: 0;
    float: left;
    width: 180px;
    z-index: 99999;
    padding-top: 16px !important;
}
nav ul ul ul{
    padding-top: 0px !important;
}

nav ul ul li {
    min-width: 180px;
}

nav ul ul ul {
    left: 100%;
    top: 0;
}

nav ul ul a {
    background: #333;
    line-height: 1em;
    padding: 10px;
    width: 160px;
    height: auto;
}

nav li:hover > a,
nav ul ul:hover > a {
    background: #333;
    color: #fff;
}

nav ul li:hover > ul {
    display: block;
}

nav ul li.current_page_item > a,
nav ul li.current_page_ancestor > a,
nav ul li.current-menu-ancestor > a,
nav ul li.current-menu-item > a,
nav ul li.current-menu-parent > a {
    color: #fff;
}

* html nav ul li.current_page_item a,
* html nav ul li.current_page_ancestor a,
* html nav ul li.current-menu-ancestor a,
* html nav ul li.current-menu-item a,
* html nav ul li.current-menu-parent a,
* html nav ul li a:hover {
    color: #fff;
}


/* =Content
-------------------------------------------------------------- */

main#content,
main#content input,
main#content textarea {
    color: #333;
    font-size: 15px;
    line-height: 24px;
}

main#content p,
main#content ul,
main#content ol,
main#content dd,
main#content pre,
main#content hr {
    margin-bottom: 24px;
}

main#content ul ul,
main#content ol ol,
main#content ul ol,
main#content ol ul {
    margin-bottom: 0;
}

main#content pre,
main#content kbd,
main#content tt,
main#content var {
    font-size: 15px;
    line-height: 21px;
}

main#content code {
    font-size: 13px;
}

main#content dt,
main#content th {
    color: #000;
}

main#content h1,
main#content h2,
main#content h3,
main#content h4,
main#content h5,
main#content h6 {
    color: #000;
    line-height: 1.5em;
    margin: 0 0 20px 0;
}

main#content table {
    border: 1px solid #e7e7e7;
    margin: 0 -1px 24px 0;
    text-align: left;
    width: 100%;
}

main#content tr th,
main#content thead th {
    color: #333;
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;
    padding: 9px 24px;
}

main#content tr td {
    /*    border-top: 1px solid #e7e7e7;*/
    padding: 6px 24px;
}

main#content tr.odd td {
    background: #f2f7fc;
}

.hentry {
    margin: 0 0 48px 0;
    /*    padding-left: 6%*/
    /*Contact us padding left*/
    min-width: 300px;
}

.home .sticky {
    background: #f2f7fc;
    border-top: 4px solid #000;
    margin-left: -20px;
    margin-right: -20px;
    padding: 18px 20px;
}

.single .hentry {
    margin: 0 0 36px 0;
}

.page-title {
    color: #1d4da2 !important;
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: 600;
    margin: 0 auto;
    padding-bottom: 15px;
    padding-top: 15px;
    line-height: 1.5em;
}

.page-title span {
    color: #333;
    font-size: 16px;
    font-style: italic;
    font-weight: normal;
}

.page-title a:link,
.page-title a:visited {
    color: #777;
    text-decoration: none;
}

.page-title a:active,
.page-title a:hover {
    color: #ff4b33;
}

main#content .entry-title {
    color: #000;
    font-size: 21px;
    font-weight: bold;
    line-height: 1.3em;
    margin-bottom: 0;
}

.entry-title a:link,
.entry-title a:visited {
    color: #000;
    text-decoration: none;
}

.entry-title a:active,
.entry-title a:hover {
    color: #ff4b33;
}

.entry-meta {
    color: #777;
    font-size: 12px;
}

.entry-meta abbr,
.entry-utility abbr {
    border: none;
}

.entry-meta abbr:hover,
.entry-utility abbr:hover {
    border-bottom: 1px dotted #666;
}

main#content .entry-summary p:last-child {
    margin-bottom: 12px;
}

.entry-content fieldset {
    border: 1px solid #e7e7e7;
    margin: 0 0 24px 0;
    padding: 24px;
}

.entry-content fieldset legend {
    background: #fff;
    color: #000;
    font-weight: bold;
    padding: 0 24px;
}

.entry-content input.file,
.entry-content input.button {
    margin-right: 24px;
}

.entry-content label {
    color: #333;
    font-size: 12px;
}

.entry-content select {
    margin: 0 0 24px 0;
}

.entry-content sup,
.entry-content sub {
    font-size: 10px;
}

.entry-content blockquote.left {
    float: left;
    margin-left: 0;
    margin-right: 24px;
    text-align: right;
    width: 33%;
}

.entry-content blockquote.right {
    float: right;
    margin-left: 24px;
    margin-right: 0;
    text-align: left;
    width: 33%;
}

.page-link {
    clear: both;
    color: #000;
    font-weight: bold;
    line-height: 48px;
    word-spacing: 0.5em;
}

.page-link a:link,
.page-link a:visited {
    background: #f1f1f1;
    color: #333;
    font-weight: normal;
    padding: 0.5em 0.75em;
    text-decoration: none;
}

.home .sticky .page-link a {
    background: #d9e8f7;
}

.page-link a:active,
.page-link a:hover {
    color: #ff4b33;
}

body.page .edit-link {
    clear: both;
    display: block;
}

#entry-author-info {
    background: #f2f7fc;
    border-top: 4px solid #000;
    clear: both;
    font-size: 14px;
    line-height: 20px;
    margin: 24px 0;
    overflow: hidden;
    padding: 18px 20px;
}

#entry-author-info #author-avatar {
    background: #fff;
    border: 1px solid #e7e7e7;
    float: left;
    height: 60px;
    margin: 0 -104px 0 0;
    padding: 11px;
}

#entry-author-info #author-description {
    float: left;
    margin: 0 0 0 104px;
}

#entry-author-info h2 {
    color: #000;
    font-size: 100%;
    font-weight: bold;
    margin-bottom: 0;
}

.entry-utility {
    clear: both;
    color: #777;
    font-size: 12px;
    line-height: 18px;
}

.entry-meta a,
.entry-utility a {
    color: #777;
}

.entry-meta a:hover,
.entry-utility a:hover {
    color: #ff4b33;
}

main#content .video-player {
    padding: 0;
}


/* =Asides
-------------------------------------------------------------- */

.home main#content .format-aside p,
.home main#content .category-asides p {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
    margin-top: 0;
}

.home .hentry.format-aside,
.home .hentry.category-asides {
    padding: 0;
}

.home main#content .format-aside .entry-content,
.home main#content .category-asides .entry-content {
    padding-top: 0;
}


/* =Gallery listing
-------------------------------------------------------------- */

.format-gallery .size-thumbnail img,
.category-gallery .size-thumbnail img {
    border: 10px solid #f1f1f1;
    margin-bottom: 0;
}

.format-gallery .gallery-thumb,
.category-gallery .gallery-thumb {
    float: left;
    margin-right: 20px;
    margin-top: -4px;
}

.home main#content .format-gallery .entry-utility,
.home main#content .category-gallery .entry-utility {
    padding-top: 4px;
}


/* =Attachment pages
-------------------------------------------------------------- */

.attachment .entry-content .entry-caption {
    font-size: 140%;
    margin-top: 24px;
}

.attachment .entry-content .nav-previous a:before {
    content: '\2190\00a0';
}

.attachment .entry-content .nav-next a:after {
    content: '\00a0\2192';
}


/* =Images
-------------------------------------------------------------- */


/*
Resize images to fit the main content area.
- Applies only to images uploaded via WordPress by targeting size-* classes.
- Other images will be left alone. Use "size-auto" class to apply to other images.
*/

img.size-auto,
img.size-full,
img.size-large,
img.size-medium,
.attachment img,
.widget-container img {
    max-width: 100%;
    /* When images are too wide for containing element, force them to fit. */
    height: auto;
    /* Override height to match resized width for correct aspect ratio. */
}

.alignleft,
img.alignleft {
    display: inline;
    float: left;
    margin-right: 24px;
    margin-top: 4px;
}

.alignright,
img.alignright {
    display: inline;
    float: right;
    margin-left: 24px;
    margin-top: 4px;
}

.aligncenter,
img.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.alignleft,
img.alignright,
img.aligncenter {
    margin-bottom: 12px;
}

.wp-caption {
    background: #f1f1f1;
    line-height: 18px;
    margin-bottom: 20px;
    max-width: 632px !important;
    /* prevent too-wide images from breaking layout */
    padding: 4px;
    text-align: center;
}

.wp-caption img {
    margin: 5px 5px 0;
    max-width: 622px;
    /* caption width - 10px */
}

.wp-caption p.wp-caption-text {
    color: #777;
    font-size: 12px;
    margin: 5px;
}

.wp-smiley {
    margin: 0;
}

.gallery {
    margin: 0 auto 18px;
}

.gallery .gallery-item {
    float: left;
    margin-top: 0;
    text-align: center;
    width: 33%;
}

.gallery-columns-2 .gallery-item {
    width: 50%;
}

.gallery-columns-4 .gallery-item {
    width: 25%;
}

.gallery img {
    border: 2px solid #cfcfcf;
}

.gallery-columns-2 .attachment-medium {
    max-width: 92%;
    height: auto;
}

.gallery-columns-4 .attachment-thumbnail {
    max-width: 84%;
    height: auto;
}

.gallery .gallery-caption {
    color: #777;
    font-size: 12px;
    margin: 0 0 12px;
}

.gallery dl {
    margin: 0;
}

.gallery img {
    border: 10px solid #f1f1f1;
}

.gallery br+br {
    display: none;
}

main#content .attachment img {
    /* single attachment images should be centered */
    display: block;
    margin: 0 auto;
}


/* =Navigation
-------------------------------------------------------------- */

.navigation {
    color: #777;
    font-size: 12px;
    line-height: 18px;
    overflow: hidden;
}

.navigation a:link,
.navigation a:visited {
    color: #777;
    text-decoration: none;
}

.navigation a:active,
.navigation a:hover {
    color: #ff4b33;
}

.nav-previous {
    float: left;
    width: 50%;
}

.nav-next {
    float: right;
    text-align: right;
    width: 50%;
}

#nav-above {
    margin: 0 0 18px 0;
}

#nav-above {
    display: none;
}

.paged #nav-above,
.single #nav-above {
    display: block;
}

#nav-below {
    margin: -18px 0 0 0;
}


/* =Comments
-------------------------------------------------------------- */

#comments {
    clear: both;
}

#comments .navigation {
    padding: 0 0 18px 0;
}

h3#comments-title,
h3#reply-title {
    color: #000;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0;
}

h3#comments-title {
    padding: 24px 0;
}

.commentlist {
    list-style: none;
    margin: 0;
}

.commentlist li.comment {
    border-bottom: 1px solid #e7e7e7;
    line-height: 24px;
    margin: 0 0 24px 0;
    padding: 0 0 0 56px;
    position: relative;
}

.commentlist li:last-child {
    border-bottom: none;
    margin-bottom: 0;
}

#comments .comment-body ul,
#comments .comment-body ol {
    margin-bottom: 18px;
}

#comments .comment-body p:last-child {
    margin-bottom: 6px;
}

#comments .comment-body blockquote p:last-child {
    margin-bottom: 24px;
}

.commentlist ol {
    list-style: decimal;
}

.commentlist .avatar {
    position: absolute;
    top: 4px;
    left: 0;
}

.comment-author {}

.comment-author cite {
    color: #000;
    font-style: normal;
    font-weight: bold;
}

.comment-author .says {
    font-style: italic;
}

.comment-meta {
    font-size: 12px;
    margin: 0 0 18px 0;
}

.comment-meta a:link,
.comment-meta a:visited {
    color: #777;
    text-decoration: none;
}

.comment-meta a:active,
.comment-meta a:hover {
    color: #ff4b33;
}

.commentlist .even {}

.commentlist .bypostauthor {}

.reply {
    font-size: 12px;
    padding: 0 0 24px 0;
}

.reply a,
a.comment-edit-link {
    color: #777;
}

.reply a:hover,
a.comment-edit-link:hover {
    color: #ff4b33;
}

.commentlist .children {
    list-style: none;
    margin: 0;
}

.commentlist .children li {
    border: none;
    margin: 0;
}

.nopassword,
.nocomments {
    display: none;
}

#comments .pingback {
    border-bottom: 1px solid #e7e7e7;
    margin-bottom: 18px;
    padding-bottom: 18px;
}

.commentlist li.comment+li.pingback {
    margin-top: -6px;
}

#comments .pingback p {
    color: #777;
    display: block;
    font-size: 12px;
    line-height: 18px;
    margin: 0;
}

#comments .pingback .url {
    font-size: 13px;
    font-style: italic;
}


/* Comments form */

input[type="submit"] {
    color: #333;
}

input[type="submit"]:hover {
    cursor: pointer;
}

#respond {
    border-top: 1px solid #e7e7e7;
    margin: 24px 0;
    overflow: hidden;
    position: relative;
}

#respond p {
    margin: 0;
}

#respond .comment-notes {
    margin-bottom: 1em;
}

.form-allowed-tags {
    line-height: 1em;
}

.children #respond {
    margin: 0 48px 0 0;
}

h3#reply-title {
    margin: 18px 0;
}

#comments-list #respond {
    margin: 0 0 18px 0;
}

#comments-list ul #respond {
    margin: 0;
}

#cancel-comment-reply-link {
    font-size: 12px;
    font-weight: normal;
    line-height: 18px;
}

#respond .required {
    color: #ff4b33;
    font-weight: bold;
}

#respond label {
    color: #777;
    font-size: 12px;
}

#respond input {
    margin: 0 0 9px;
    width: 98%;
}

#respond textarea {
    width: 98%;
}

#respond .form-allowed-tags {
    color: #777;
    font-size: 12px;
    line-height: 18px;
}

#respond .form-allowed-tags code {
    font-size: 11px;
}

#respond .form-submit {
    margin: 12px 0;
}

#respond .form-submit input {
    font-size: 14px;
    width: auto;
}


/* =Widget Areas
-------------------------------------------------------------- */

aside select {
    max-width: 100%;
}

.widget_search #s {
    /* This keeps the search inputs in line */
    width: 60%;
}

.widget_search label {
    display: none;
}

.widget-container {
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    margin: 0 0 18px 0;
}

.widget-container .wp-caption img {
    margin: auto;
}

.widget-title {
    color: #222;
    font-weight: bold;
}

aside .entry-meta {
    font-size: 11px;
}

#wp_tag_cloud div {
    line-height: 1.6em;
}

#wp-calendar {
    width: 100%;
}

#wp-calendar caption {
    color: #222;
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 4px;
    text-align: left;
}

#wp-calendar thead {
    font-size: 11px;
}

#wp-calendar thead th {}

#wp-calendar tbody {
    color: #aaa;
}

#wp-calendar tbody td {
    background: #f5f5f5;
    border: 1px solid #fff;
    padding: 3px 0 2px;
    text-align: center;
}

#wp-calendar tbody .pad {
    background: none;
}

#wp-calendar tfoot #next {
    text-align: right;
}

.widget_rss a.rsswidget {
    color: #000;
}

.widget_rss a.rsswidget:hover {
    color: #ff4b33;
}

.widget_rss .widget-title img {
    width: 11px;
    height: 11px;
}


/* =Footer
-------------------------------------------------------------- */

#site-info {
    font-weight: bold;
}

#site-info a {
    color: #000;
    text-decoration: none;
}

#site-generator {
    font-style: italic;
    position: relative;
}

#site-generator a {
    background: url(images/wordpress.png) center left no-repeat;
    color: #666;
    display: inline-block;
    line-height: 16px;
    padding-left: 20px;
    text-decoration: none;
}

#site-generator a:hover {
    text-decoration: none;
}

img#wpstats {
    display: block;
    margin: 0 auto 10px;
}

.newsletter p{
    margin: 0;
}
input.newsletter-email {
    position: relative;
    text-transform: uppercase;
    width: 100%;
}
input.newsletter-submit {
    position: absolute;
    right: -4px;
    bottom: 0;
    background: #333;
    color: #fff;
    border: none;
    padding: 7px 10px;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 11px;

-webkit-appearance: none;
}

div.footer1 {
    padding-top: 90px;
    width: 25%;
    float: left;
    text-align: left;
    border-right: 1px solid #cdcdcd;
    height: 65px;
    color: #333;
}

div.footer2 {
    width: 48%;
    float: left;
    text-align: center;
    padding-top: 15px;
}

div.footer3 {
    padding-top: 90px;
    width: 25%;
    float: left;
    text-align: right;
    border-left: 1px solid #cdcdcd;
    height: 65px;
    color: #333;
}

div.footer1,
div.footer2,
div.footer3 {
    padding-bottom: 25px;
}

div.footer4 {
    width: 100%;
    float: left;
    background-color: #eaeaea;
}

div.customerSupport2,
div.customerSupport3,
div.customerSupport4 {
    width: 33%;
    float: left;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 12px;
    float: left;
    position: relative;
    left: 5%;
    text-align: left;
    padding-top: 20px;
}

p.footerTitle {
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 1.3em;
    color: #333;
}

#phoneAndMail {
    display: inline-block;
    margin: 4px 10px;
}

div#copyAndLong {
    background-color: #eaeaea;
    padding: 10px 0;
}

p.footerCS {
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #1d4da2;
    text-align: center;
}


/* =Mobile Safari ( iPad, iPhone and iPod Touch )
-------------------------------------------------------------- */

pre {
    -webkit-text-size-adjust: 140%;
}

code {
    -webkit-text-size-adjust: 160%;
}

nav,
.entry-meta,
.entry-utility,
.navigation,
aside {
    -webkit-text-size-adjust: 120%;
}

#site-description {
    -webkit-text-size-adjust: none;
}


/* =Print Style
-------------------------------------------------------------- */

@media print {
    body {
        background: none !important;
    }
    section.content {
        clear: both !important;
        display: block !important;
        float: none !important;
        position: relative !important;
    }
    .container,
    #content {
        border-bottom: 2pt solid #000;
        padding-bottom: 18pt;
    }
    #site-title,
    #site-description {
        float: none;
        line-height: 1.4em;
        margin: 0;
        padding: 0;
    }
    #site-title {
        font-size: 13pt;
    }
    .entry-content {
        font-size: 14pt;
        line-height: 1.6em;
    }
    .entry-title {
        font-size: 21pt;
    }
    nav,
    #branding img,
    #respond,
    .comment-edit-link,
    .edit-link,
    .navigation,
    .page-link,
    aside {
        display: none !important;
    }
    main#content,
    .container,
    #content {
        margin: 0;
        width: 100%;
    }
    main#content,
    main#content.one-column {
        margin: 24pt 0 0;
        width: 100%;
    }
    .wp-caption p {
        font-size: 11pt;
    }
    #site-info,
    #site-generator {
        float: none;
        width: auto;
    }
    img#wpstats {
        display: none;
    }
    #site-generator a {
        margin: 0;
        padding: 0;
    }
    #entry-author-info {
        border: 1px solid #e7e7e7;
    }
    .home .sticky {
        border: none;
    }
}


/**********************************GENERAL**********************************/

.left {
    float: left;
}

.right {
    float: right;
}


/**********************************HEADER**********************************/

header {
    background: #fff;
    /* overflow: auto;
    height:150px;*/
}

#headright {
    float: right;
    min-width: 50%;
    position: relative;
}

#logo h1 {
    display: none;
    height: 0;
    text-indent: -9999px;
}

div.headerContainerBackground {
    background-color: #eaeaea;
}

.cart-contents:hover {
    text-decoration: none
}

a.cart-contents {
    border: 1px solid #eaeaea;
    float: right;
    padding: 25px 20px;
    position: relative;
    top: 50px;
}

span.countNumber {
    background-color: #2ca3df;
    border-radius: 50%;
    color: white;
    display: block;
    height: 15px;
    left: 33px;
    line-height: 15px;
    padding: 4px;
    position: absolute;
    text-align: center;
    top: -10px;
    width: 15px;
}

.yith-ajaxsearchform-container input[type="submit"],
#searchform input[type="submit"] {
    background: #eaeaea url("./images/search-icon.png") no-repeat scroll center center;
    border: medium none;
    cursor: pointer;
    float: right;
    height: 38px;
    position: relative;
    text-indent: -9999px;
    top: -39px;
    width: 38px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-appearance: none;
}
.iphone .yith-ajaxsearchform-container input[type="submit"], iphone #searchform input[type="submit"],
.ipad .yith-ajaxsearchform-container input[type="submit"], ipad #searchform input[type="submit"],
.ipod .yith-ajaxsearchform-container input[type="submit"], ipod #searchform input[type="submit"]{
    top: -41px;
}

.yith-ajaxsearchform-container input[type="search"],
#searchform input[type="search"] {
    border: 1px solid #eaeaea;
    box-sizing: border-box;
    line-height: 18px;
    padding: 10px 15px;
    width: 100%;
    -webkit-appearance: none;
    border-radius: 0;
    font-family: 'Open Sans', sans-serif;
}

.yith-ajaxsearchform-container {
    padding-right: 90px;
    top: 80px;
    position: relative;
}


/**********************************FOOTER**********************************/

footer .widget-container{
    margin: 25px 0;
}
.footbar {
    padding: 10px 0;
    background: #eaeaea;
}
footer .container section {
    display: inline-block;
    vertical-align: bottom;
    position: relative;
}
footer .container section:nth-child(1){
    text-align: left;
    width: 25%;
}
footer .container section:nth-child(2) {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    box-sizing: border-box;
    text-align: center;
    width: 50%;
}
footer .container section:nth-child(3) {
    box-sizing: border-box;
    padding-left: 5%;
    text-align: right;
    width: 25%;
}
#copyright, #longevity {
    color: #333;
    display: inline-block;
    font-size: 12px;
    text-transform: uppercase;
    width: 50%;
}
#longevity {
    text-align: right;
}
#footer3Title {
    text-align: left;
}
#footerBottom {
    display: flex;
    background-color: #eaeaea;
}
footer .menu {
    margin: 30px auto 0;
    text-align: center;
}
footer .menu li {
    box-sizing: border-box;
    display: inline-block;
    text-align: left;
    width: 32%;
    text-transform: uppercase;
    padding-left: 40px;
}

footer a {
    color: #333 !important;
}
footer a:hover {
    color: #1d4da2 !important;
}


/*** NEWSLETTER ***/

.tnp-widget label {
    color: inherit;
    display: block;
    font-size: 14px;
    font-weight: bold;
    text-align: left !important;
}


/**********************************WOOCOMMERCE**********************************/



.woocommerce tr{}
tr.woocommerce {}

.woocommerce .woocommerce-result-count, .woocommerce-page .woocommerce-result-count {
    float: right !important;
    font-size: 13px;
    margin-bottom: 10px !important;
    margin-top: -63px !important;
}
.woocommerce .woocommerce-ordering, .woocommerce-page .woocommerce-ordering {
    clear: right;
    margin-top: -35px !important;
}
.woocommerce nav.woocommerce-pagination {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
.woocommerce nav.woocommerce-pagination ul li a:focus, .woocommerce nav.woocommerce-pagination ul li a:hover, .woocommerce nav.woocommerce-pagination ul li span.current {
    background: #eaeaea none repeat scroll 0 0 !important;
}
.product.has-default-attributes.has-children > .images {
    opacity: 1 !important;
}
.woocommerce div.product .stock {
    margin-bottom: 5px !important;
}
.woocommerce div.product form.cart .button {
    padding: 11px 14px;
}
.woocommerce div.product form.cart .button::before{
    content: "\f07a";
    font-family: FontAwesome;
    padding-right: 4px;
}
div.product_meta {
    font-size: 12px;
}
.woocommerce div.product form.cart .variations {
    background: #f5f5f5 none repeat scroll 0 0;
    border: 1px solid #eaeaea !important;
    display: inline-block;
    padding: 5px 10px !important;
    width: auto !important;
    box-sizing: border-box;
}
.woocommerce div.product form.cart .variations td {
    padding: 0 8px !important;
    box-sizing: border-box;
}
.woocommerce div.product form.cart .reset_variations {
    color: #f1aa28;
}
.woocommerce div.product .stock {
    color: #f1aa28 !important;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li a {
    color: #333 !important;
    font-size: 14px !important;
    font-weight: 500 !important;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
    background: #fff none repeat scroll 0 0 !important;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li {
    background-color: #eaeaea !important;
}

.woocommerce-Tabs-panel h2 {
    color: #1d4da2 !important;
    margin: 0 !important;
    padding: 0 !important;
}
.woocommerce-Tabs-panel h2:nth-child(2) {
    color: #888 !important;
    margin-top: -12px !important;
}
.woocommerce-Tabs-panel h3 {
    padding: 0 !important;
}
.woocommerce-Tabs-panel h3 font {
    color: #1d4da2 !important;
    font-size: 18px !important;
}
.woocommerce-Tabs-panel ul{}
.woocommerce-Tabs-panel ul li {
    list-style: outside none circle;
}
.woocommerce-Tabs-panel br{
    display: none;
}

.shop_attributes {
    border: medium none !important;
    margin-top: 30px !important;
}
.shop_attributes tr {
    border-bottom: 1px solid #eaeaea;
}
.shop_attributes td, .shop_attributes th {
    font-weight: 500 !important;
    padding: 5px !important;
}
.shop_attributes p{
    margin: 0 !important;
}

.woocommerce-error, .woocommerce-info, .woocommerce-message,
#add_payment_method #payment, .woocommerce-cart #payment, .woocommerce-checkout #payment {
    background-color: #f5f5f5 !important;
}
#add_payment_method #payment div.payment_box, .woocommerce-cart #payment div.payment_box, .woocommerce-checkout #payment div.payment_box {
    background-color: #eaeaea !important;
}
#add_payment_method #payment div.payment_box::before, .woocommerce-cart #payment div.payment_box::before, .woocommerce-checkout #payment div.payment_box::before {
    border-color: transparent transparent #eaeaea !important;
}

.wps_image_carousel .wps_prev, .wps_image_carousel .wps_next {
    color: #f5f5f5 !important;
}
.wps_image_carousel .wps_prev:hover, .wps_image_carousel .wps_next:hover {
    color: #eaeaea !important;
}

.term-description{
    display: none;
}

.wpb_slider_area .item {
    border: 1px solid #eaeaea;
    box-sizing: border-box;
    margin: 0px 20px 1px 0px !important;
    padding: 10px;
}
.grid_no_animation figcaption {
    background: none !important;
}
.wpb-wps-wrapper .item img {
    margin: 0 auto;
    max-width: 200px !important;
}
.wpb_area_title{
    padding: 0 !important;
}
.wpb_slider_area .owl-buttons {
    background: #fff none repeat scroll 0 0;
    padding-left: 20px;
    position: absolute;
    right: 0 !important;
    top: -54px !important;
}
.owl-theme .owl-controls .owl-buttons div{
    opacity: 1 !important;
}

/**********************************TABLES**********************************/

table.responsive {
    border-collapse: collapse;
    margin: 0 auto;
    text-rendering: optimizelegibility;
}
table.responsive thead td {
    background: none repeat scroll 0 0 #1D4DA2;
    color: #fff;
    font-weight: 500;
}
table.responsive thead td, table.responsive tbody td {
    padding: 0.8rem !important;
}
table.responsive tbody td {
    color: #333;
    vertical-align: middle;
}
table.responsive tbody tr:not(:last-child) {
    border-bottom: 1px solid #eaeaea;
    border-top: 1px solid #eaeaea;
}


@media screen and (max-width: 768px) {
table.responsive thead { 
    display: none; 
}
table.responsive tbody td { 
    border-top: 1px solid #eaeaea;
    display: block; 
    padding: 0.6rem !important;
}
table.responsive tbody tr td:first-child {
    background: none repeat scroll 0 0 #1D4DA2;
    color: #fff;
}
table.responsive tbody td:before { 
    content: attr(data-th); 
    font-weight: 600;
    display: inline-block;
    width: 9rem;  
}
}

/**********************************MULTI CURRENCY**********************************/

#topnav {
    overflow: auto;
}
#topnav section{
    float: right;
}
#topnav .widget-container{
    margin-bottom: 0px;
}
section.widget_wmcs_currency_switcher h4{
   display: none;
}
section.widget_wmcs_currency_switcher {
    margin-left: 20px;
    margin-top: 7px;
}
/*select.wmcs_currency_switcher_dropdown option:nth-child(1)::before{
    content: 'test';
    background: url('./images/CA.png') no-repeat 0 0 transparent;
}*/
.curflag {
    background: transparent url("./images/CA.png") no-repeat scroll 0 0;
    height: 18px;
    margin-left: 5px;
    margin-top: 8px;
    width: 22px;
}

/**********************************MISC**********************************/

div.wpcf7 {
    position: relative;
}

.wpcf7-form img.wpcf7-form-control {
    margin-top: 7px;
    position: absolute;
    right: 2px;
}

span.wpcf7-not-valid-tip,
div.wpcf7-mail-sent-ok {
    display: none !important;
}

.wpcf7-not-valid {
    border: 1px solid #ec0000 !important;
}

div.wpcf7-validation-errors {
    border: medium none !important;
    color: #ec0000;
    margin: 0 !important;
    padding: 0 !important;
}

input.formbutton {
    background: #2ca3df !important;
    border: 0px;
    text-transform: uppercase;
    font-size: 14px !important;
    font-weight: 600;
    text-align: center;
    color: white !important;
    padding: 5px 10px 5px 10px;
    width: 100% !important;
-webkit-appearance: none;

}

input.formbutton:hover {
    background-color: #1d4da2 !important;
    -webkit-transition: all ease-in-out .2s;
    -moz-transition: all ease-in-out .2s;
    transition: all ease-in-out .2s;
}

a.checkout-button.button.alt.wc-forward,
input#place_order,
input.button {
    color: white !important;
    background-color: #2ca3df !important;
    box-sizing: border-box;
}

a.checkout-button.button.alt.wc-forward:hover,
input#place_order:hover,
input.button:hover {
    color: white !important;
    background-color: #1d4da2 !important;
    -webkit-transition: all ease-in-out .2s;
    -moz-transition: all ease-in-out .2s;
    transition: all ease-in-out .2s;
}


/*********************************CUSTOMIZATION**************************/

li.is-active > a{
/*    My account page menu active statue*/
    color:#1d4da2 !important;
}

mark.count {
    background-color: transparent;
}

ul#menu-menu-2 > li >a > i,
#topnav ul li >a > i {
    color: #a8a8a8;
}
#topnav section a:link, #topnav section a:visited {
    color: #333;
}
#topnav section a:hover{
    color: #1d4da2;
}

h2.entry-title {
    display: none;
}

#topnav {
    background-color: #eaeaea;
}
#topnav ul {
    margin: 0;
    text-align: right;
}
#topnav li {
    display: inline-block;
    text-align: center;
    padding: 8px 30px 8px 0px;
    text-decoration: none;
}
#topnav li:last-child{
    padding: 8px 0px 8px 0px;
}

a#logo {
    float: left;
    padding: 10px 0;
}

form.woocommerce-ordering {
    /*REMOVES IPHONE STYLING OF BUTTONS ON PHONES*/
    -webkit-appearance: none;
    border-radius: 0;
}

button.btn.btn-default {
    cursor: pointer;
    margin-left: -4px;
    /*   padding: 11px;*/
    padding: 11px 11px 11px 11px;
    border: 1px solid #ccc;
    border-left: none;
    font-size: 18px;
}

div.section1 {
    float: left;
    padding-left: 5%;
    width: 50%;
    padding-right: 15px;
    text-align: right;
}

div.section2 {
    float: left;
    width: 50%;
    padding-right: 5%;
    padding-left: 15px;
}

/*div.owl-item {
    width: 100%;
    max-width: 200px;
    min-width: 100px;
    padding-left: 20px;
    padding-right: 20px;
}*/

a#wa_chpc_slider_prev.wps_prev,
a#wa_chpc_slider_next.wps_next {
    padding-top: 0px;
    width: 10%
}

a#wa_chpc_slider_prev.wps_prev:hover,
a#wa_chpc_slider_next.wps_next:hover {
    background-color: rgba(255, 255, 255, 0) !important;
    color: #333;
}

a#wa_chpc_slider_next {
    text-align: right;
    margin-top: -40px;
}

a#wa_chpc_slider_prev {
    text-align: left;
    margin-top: -40px;
}

div.wps_foo_content {
    border: 1px solid #eaeaea;
    color: #333;
    height: auto !important;
    padding: 5px 5px 10px;
}
div.wps_foo_content br{
    display: none;
}

.woocommerce ul.products li.product .button.product_type_simple{
    display: none !important;
}
.woocommerce ul.products li.product .button.product_type_simple.add_to_cart_button,
.woocommerce ul.products li.product .button.product_type_simple.call_for_pricing{
    display: inline-block !important;
}

a.wa_wps_button.add_to_cart_button.product_type_simple,
a.button.product_type_simple.add_to_cart_button.ajax_add_to_cart,
.woocommerce ul.products li.product .button,
.grid figcaption a, div.grid_no_animation figcaption a.button,
.woocommerce .button.product_type_simple.call_for_pricing {
    color: #333 !important;
    background: #ffd06a none repeat scroll 0 0;
    border: 0 none;
    display: inline-block !important;
    font-size: 12px !important;
    font-weight: 500;
    line-height: normal !important;
    margin: 0 auto !important;
    padding: 7px 14px !important;
    position: relative !important;
    text-align: center !important;
    text-shadow: none;
    text-transform: uppercase;
    width: auto !important;
    margin-bottom: 10px;
}
.woocommerce ul.products li.product .button.add_to_cart_button::before,
.grid figcaption a, div.grid_no_animation figcaption a.button::before,
.active-revslide a.add_to_cart_button::before {
    content: "\f07a";
    font-family: FontAwesome;
    padding-right: 4px;
}
.woocommerce .button.product_type_simple.call_for_pricing::before{
    content: "\f095";
    font-family: FontAwesome;
    padding-right: 4px;
}
.woocommerce ul.products li.product .button.product_type_variable::before{
    content: "";
}

a.wa_wps_button.add_to_cart_button.product_type_simple:hover,
a.button.product_type_simple.add_to_cart_button.ajax_add_to_cart:hover, 
.woocommerce ul.products li.product .button:hover,
.grid figcaption a:hover, div.grid_no_animation figcaption a.button:hover,
.woocommerce .button.product_type_simple.call_for_pricing:hover {
    color: #fff !important;
    background-color: #2ca3df;
}
.active-revslide a.add_to_cart_button:hover{
    color: #333 !important;
}

.line {
    background: transparent url("./images/line.png") repeat-x scroll center center;
    margin: 0 auto 15px;
}
div.section3 {
    background: #fff none repeat scroll 0 0;
    color: #1d4da2;
    display: inline-block;
    font-family: "Open Sans",sans-serif;
    font-size: 24px;
    font-weight: 600;
    padding: 0 20px 0 0;
    text-align: left;
    width: auto;
}

nav.woocommerce-breadcrumb {
    display: none;
}

div.breadcrumbs {
    margin: 0 auto;
    padding: 15px 0 15px 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.single-product div.breadcrumbs{
    padding: 15px 0 50px 0;
}

a.mega-menu-link {
    color: white;
    background-color: white;
}

span.posted_in {
    float: left;
}

span.sku_wrapper {
    float: left;
    width: 50%;
}

h1.entry-title {
    font-family: 'Open Sans', sans-serif;
    color: #1d4da2 !important;
    font-size: 26px !important;
    font-weight: 600 !important;
}
.single-product h1.entry-title {
    color: #333 !important;
    font-family: "Open Sans",sans-serif;
    font-size: 26px !important;
    font-weight: 600 !important;
    margin: 0 0 12px !important;
}

a.edit {
    color: #fff !important;
    background-color: #1d4da2;
    padding: 5px 10px;
}

a.edit:focus,
a.edit.focus {
    color: #fff;
    background-color: #2ca3df;
}

a.edit:hover {
    color: #fff;
    background-color: #2ca3df;
}

div.contactSection1 {
    font-family: 'Open Sans', sans-serif;
}



#mega-menu-item-4873,
#mega-menu-item-4868,
#mega-menu-item-4874 {
    float: right !important;
}

#mega-menu-item-4868 > a,
#mega-menu-item-4873 > a,
#mega-menu-item-4874 > a {
    font-size: 14px !important;
    font-weight: 500 !important;
    font-family: 'Open Sans', sans-serif;
}

.home div.breadcrumbs {
    display: none;
}

#mega-menu-item-4694 > a {
    padding: 0 !important;
}

div.footerSection {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

footer.fullwidth {
    background-color: #f5f5f5;
}

div#footerCopyright {
    width: 100%;
    margin: 0 auto;
    max-width: 1280px;
}

#place_order {
    color: white !important;
}



div.megaMenuBackground {
    background: #1d4da2 none repeat scroll 0 0;
}

div#footerBackgroundColor {
    background-color: #eaeaea !important;
}

div.bodyContent {
    padding-top: 20px;
}

.woocommerce ul.products li.product h3, span.wps_title,
.grid_no_animation figcaption h3.pro_title {
    font-size: 14px !important;
    line-height: 1.6em !important;
    margin: 0 auto !important;
    min-height: 45px;
    padding: 0.5em 0 !important;
    text-align: center;
    width: 100% !important;
    font-family: inherit !important;
}
.woocommerce ul.products li.product h3, span.wps_title a{
    color: #333 !important;
}
.wps_foo_content .wps_img {
    padding-top: 5px;
}

/*.wps_foo_content {
    height: 300px !important;
}*/

textarea.wpcf7-form-control.wpcf7-textarea {
    height: 80px;
}

.wa_wps_price, .woocommerce ul.products li.product .price{
    padding-bottom: 10px;
    margin: 0 !important;
}


/*****************************Woo commerce style ************************************/
#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-flyout ul.mega-sub-menu li.mega-menu-item a.mega-menu-link {
    font-size: 14px !important;
    font-weight: normal !important;
    line-height: 18px !important;
    padding: 5px 10px 5px 0 !important;
}

li.mega-menu-item.mega-current-menu-item > a.mega-menu-link,
li.mega-menu-item.mega-current-menu-parent > a.mega-menu-link {
    /*    Current item for Mega menu (:active)*/
    color: #2ca3df !important;
}

#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item.mega-current-menu-item > a.mega-menu-link,
#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item.mega-current-menu-ancestor > a.mega-menu-link {
    /*    Make the primary menu item does not active */
    color: white !important;
}
#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item:last-child{
    border: none !important;
}
#mega-menu-item-4868 > a{
    padding-right: 0 !important;
}

.woocommerce div.product div.images img {
    margin: 0 auto;
}

.woocommerce-message a:link {
    color: #2ca3df;
}

.woocommerce-message a:hover {
    color: #1d4da2;
}

div.related.products h2 {
    color: #333;
}

a.wa_wps_button,
.wa_wps_button,
.woocommerce ul.products li.product .button,
.woocommerce div.product form.cart .button,
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button {
    /*    Making all the woocommerce button to rectangle (non-border)*/
    border-radius: 0 !important;
    /*REMOVES IPHONE STYLING OF BUTTONS ON PHONES*/
    -webkit-appearance: none;
    border-radius: 0;
}

.page-id-4685 span.woocommerce-Price-amount.amount {
    /*    Check out page*/
    font-weight: 500;
}

a.added_to_cart.wc-forward {
    /*    View cart button*/
/*    display: none !important;*/
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    margin-top: -10px;
}

.woocommerce div.product form.cart .button {
    font-weight: 500;
}

button.single_add_to_cart_button.button.alt {
    color: #333 !important;
    background-color: #ffd06a !important;
    border: 0px;
    text-transform: uppercase;
    font-size: 12px !important;
    font-weight: 600;
    min-width: 100px;
    text-align: center;
    text-shadow: none;
}

button.single_add_to_cart_button.button.alt:hover {
    color: white !important;
    background-color: #2ca3df !important;
    -webkit-transition: all ease-in-out .2s;
    -moz-transition: all ease-in-out .2s;
    transition: all ease-in-out .2s;
}

.woocommerce div.product .product_title {
    line-height: 1.5em;
}

img.attachment-shop_single.size-shop_single.wp-post-image {
    max-width: 50% !important;
}



.price,
div.grid_no_animation figcaption .pro_price_area .amount {
    color: #1d4da2 !important;
    font-weight: 600 !important;
    font-size: 22px !important;
    line-height: 22px !important;
}
.price strong {
    font-size: 16px;
    font-weight: normal;
}

.cart-contents:before {
    font-family: WooCommerce;
    content: "\e01d";
    font-size: 28px;
    margin-top: 10px;
    font-style: normal;
    font-weight: 400;
    vertical-align: bottom;
}

nav.woocommerce-MyAccount-navigation {
    background-color: transparent !important;
    list-style-type: none !important;
}

nav.woocommerce-MyAccount-navigation > ul {
    list-style-type: none !important;
    
}

nav.woocommerce-MyAccount-navigation > ul >li >a {
    font-size: 1em;
    font-weight: 500;
    color: #333;
}

nav.woocommerce-MyAccount-navigation > ul >li >a:hover,
nav.woocommerce-MyAccount-navigation > ul >li >a:active {
    padding-left: 10px;
    background: none;
    -webkit-transition: all ease-in-out .5s;
    -moz-transition: all ease-in-out .5s;
    transition: all ease-in-out .5s;
}



.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
    border: 1px solid #eaeaea;
    box-sizing: border-box;
    text-align: center;
    padding: 5px 5px 10px !important;
}

a.button.product_type_variable.add_to_cart_button {
    width: 50%;
    font-weight: 500;
    font-size: 12px;
    text-align: center;
}

div#tab-description {
    color: #333;
}

.woocommerce ul.products li.product a img {
    margin: 0 auto !important;
    max-width: 200px !important;
    padding-top: 10px;
}

.page-id-4684 .woocommerce-Price-amount.amount {
    font-size: 16px;
    font-weight: 500;
}

input#coupon_code {
    width: 140px !important;
    height: 41px !important;
}

.woocommerce table.shop_table {
    border: none !important;
}

table.cart tr th {
    background-color: #1d4da2;
    color: #fff !important;
}

nav.woocommerce-MyAccount-navigation ul li:nth-child(1),
nav.woocommerce-MyAccount-navigation ul li:nth-child(2),
nav.woocommerce-MyAccount-navigation ul li:nth-child(3),
nav.woocommerce-MyAccount-navigation ul li:nth-child(4),
nav.woocommerce-MyAccount-navigation ul li:nth-child(5) {
    border-bottom: 1px solid #eaeaea;
}

td.actions{
/*    My Cart Coupon and Update Basket aling to the edge  */
    padding: 6px 0px !important;
}

.woocommerce-checkout span.woocommerce-Price-amount.amount{
    font-size: 18px;
}
/************************** Home page two colume sections *****************************/

div#shopNowLeft {
    background: url(images/Buyo-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 47.5% !important;
    min-height: 280px;
    margin-right: 2.5%;
}

div#shopNowRight {
    background: url(images/GPS-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 47.5% !important;
    min-height: 280px;
    margin-left: 2.5%
}

p.title1,
p.title2 {
    font-size: 26px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    color: #1d4da2;
    line-height: 32px;
    padding: 10px;
    margin-bottom: 0px !important;
}

p.article1,
p.article2 {
    font-family: 'Open Sans', sans-serif;
    padding: 10px;
    font-size: 14px;
}

button.shopNow {
    cursor: pointer;
    background: #2ca3df;
    border: 0px;
    text-transform: uppercase;
    font-size: 14px !important;
    font-weight: 600;
    text-align: center;
    color: white;
    padding: 10px 15px 10px 15px;
    margin: 10px;
    float: right;
}

button.shopNow:hover {
    background-color: #1d4da2;
    -webkit-transition: all ease-in-out .2s;
    -moz-transition: all ease-in-out .2s;
    transition: all ease-in-out .2s;
}


/************************** RevSlider  *****************************/


/************ Change the number to current post ID number *****************/

/*
#slide-4826-layer-4,
#slide-1907-layer-4,
#rev_slider_2_1 > ul > li > div:nth-child(4) > div > div {
    font-family: 'Open Sans', sans-serif;
    color: #1d4da2 !important;
    letter-spacing: 1.2px !important;
    font-weight: 600 !important;
    text-align: center !important;
    text-transform: uppercase;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

#slide-4826-layer-8,
#slide-1907-layer-17 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

#slide-4826-layer-9 > span,
#slide-1907-layer-9 > span {
    color: #333;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    font-weight: 500;
    text-align: center;
}

#slide-4826-layer-5 > i,
#slide-1907-layer-5 > i {
    background: #ffd06a;
    color: white;
    border: 0px;
    text-transform: uppercase;
    font-size: 14px !important;
    font-weight: 600;
    width: 100%;
    text-align: center;
    padding: 10px !important;
}

#slide-4826-layer-5 > i:hover,
#slide-1907-layer-5 > i:hover {
    background-color: #2ca3df;
    color: white !important;
    text-decoration: none;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    -webkit-appearance: none;
    border-radius: 0;
}

#slide-4826-layer-5 > i:hover > a:hover,
#slide-1907-layer-5 > i:hover > a:hover {
    color: white !important;
}*/

/*div.revSliderBox {
    border: 2px solid #ccc !important;
    border-top: 3px solid #333 !important;
}*/

/*
#rev_slider_2_1 > div.tp-bullets.hephaistos.horizontal.nav-pos-hor-center.nav-pos-ver-bottom.nav-dir-horizontal.noSwipe > div {
    display: none;
}*/

div.breadcrumbs span:last-child a {
    color: #1d4da2;
    font-weight: 600;
}


/**********************************RESPONSIVE STYLES**********************************/

section.content,
div.menu,
#branding,
.container,
#container,
#content {
    width: 1240px;
}
.fullwidth {
    margin: 0 auto;
    width: 100%;
}
.container, #content {
    margin: 0 auto;
}

@media screen and (max-width: 1280px) {
    section.content,
    .container{
        width: 94% !important;
    }
    div.menu,
    #branding,
    .container,
    #content {
        margin: 0 auto;
        width: 100%;
    }
    aside {
        overflow: hidden;
    }

footer .menu li {
    padding-left: 0;
    text-align: center;
}
}

@media screen and (max-width: 1024px) {
    div.footer1,
    div.footer3 {
        height: 135px;
    }
}

@media screen and (max-width: 768px) {
    section.content,
    .container,
    main#content,
    aside/*,
    #container,
    #content*/ {
	display: block;
	width: 100% !important;
	padding: 0 10px;
	margin: 0;
	box-sizing: border-box;

	min-width: inherit;
	min-width: initial;
	min-width: unset;
    }
section.content{
	padding: 0px 10px 0 !important;
}
    
    .woocommerce-page #content {
        width: 100% !important;
    }
    .fixed-header[style] {
        display: none !important;
    }
    button.btn.btn-default {
        margin-left: -5px;
    }
    ul#menu-menu-2.menu {
        padding-right: 0%;
    }
    p.title1,
    p.title2 {
        margin-bottom: 0px !important;
    }
    /*div.footer1,
    div.footer2,
    div.footer3 {
        float: left;
        width: 100%;
        text-align: center;
        padding-left: 0;
        padding-right: 0;
    }
    div.footer1 {
        padding-top: 15px;
        height: auto;
        border-right: 0px solid #333;
        padding-left: 0;
    }
    div.footer3 {
        padding-top: 15px;
        height: auto;
        border-left: 0px solid #333;
    }
    div.footer4 {
        text-align: center;
    }*/
    #footerBottom {
        display: block;
    }
    #longevity {
        float: none;
        padding-right: 0%;
        width: 100%;
        text-align: center;
    }
    #copyright {
        float: none;
        padding-left: 0%;
        width: 100%;
        text-align: center;
    }
    div.logoAndSearchBar {
        height: 160px;
    }
    .woocommerce-tabs.wc-tabs-wrapper {
        padding-top: 15px;
    }
    nav.woocommerce-MyAccount-navigation ul {
        margin: 0;
    }
    .page-id-4835 .hentry {
        margin: 0;
    }

footer .container section {
    width: 100% !important;
    text-align: center !important;
    padding: 25px 0 10px;
    margin: 0;
    border: none !important;
}
footer .menu, #footer3Title {
    text-align: center;
}
footer .menu li {
    width: 32%;
}
input.newsletter-submit {
    margin-top: 5px;
    position: relative;
    right: 0;
    width: 100%;
}
footer .container section:nth-child(3) {
    padding-left: 0;
}

.single-product .price,
.single-product .single_variation_wrap,
.single-product .product_meta{
    text-align: center;
}
.single-product .product_meta span,
.woocommerce div.product form.cart .variations{
    float: none !important;
    width: 100% !important;
}
.woocommerce div.product form.cart div.quantity {
    float: none !important;
    margin: 0 auto !important;
    text-align: center;
}
.woocommerce div.product form.cart .button {
    display: block;
    float: none !important;
    margin: 10px auto 0 !important;
    text-align: center !important;
}

    input#coupon_code {
        width: 100% !important;
        margin-bottom: 10px;
    }
input.button[value="Apply Coupon"]{
    width: 100% !important;
}
}


@media screen and (max-width: 603px) {

div.bodyContent {
    padding-top: 10px !important;
}

#headright {
    float: none;
    min-width: unset;
}
.yith-ajaxsearchform-container {
    padding-right: 0;
    top: 0;
}
header {
    margin-bottom: -15px !important;
}

nav{position:relative; top: -20px !important;}

.rev_slider_wrapper {position:relative; top: -20px !important;}

nav > .container {
    background: #1d4da2 none repeat scroll 0 0;
    display: block;
    padding: 0 10px !important;
}
#mega-menu-item-4873, #mega-menu-item-4868, #mega-menu-item-4874 {
    float: none !important;
}
#mega-menu-item-4868 > a, #mega-menu-item-4873 > a, #mega-menu-item-4874 > a {
    font-size: 14px !important;
    font-weight: 500 !important;
    height: 30px !important;
    line-height: 30px !important;
    padding: 0 !important;
}
    main#content .entry-title {
        text-align: center;
    }

    div#shopNowLeft {
        width: 100% !important;
        margin-right: 0px;
        margin-bottom: 10px;
    }
    div#shopNowRight {
        width: 100% !important;
        margin-left: 0px;
        margin-top: 10px;
    }
    a.cart-contents {
        display: none;
    }
a#logo {
    display: block;
    float: none;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}
#topnav ul {
    text-align: center;
}
#topnav li {
    padding: 8px 10px !important;
}
}



@media screen and (max-width: 480px) {
footer .menu li {
    width: 49%;
}
footer .menu {
    text-align: left;
}
input.newsletter-submit {
    margin-bottom: 10px;
}
    .woocommerce div.product {
        margin-bottom: 0;
        position: relative;
    }
    p.title1,
    p.title2 {
        font-size: 22px;
    }
    p.footerTitle {
        font-size: 1.2em;
    }
    button.btn.btn-default {
        padding: 11px 11px 11px 11px;
    }
    .page-title {
        font-size: 20px;
    }
    h1.entry-title {
        font-size: 20px !important;
    }
   
.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
    width: 100% !important;
} 
.archive.tax-product_cat .page-title {
    display: none;
}
.woocommerce .woocommerce-result-count, .woocommerce-page .woocommerce-result-count {
    float: none !important;
    margin: 20px auto 0 !important;
    text-align: center;
}
.woocommerce .woocommerce-ordering, .woocommerce-page .woocommerce-ordering {
    float: none !important;
    margin-top: 5px !important;
    text-align: center;
}
}

@media screen and (max-width: 320px) {
    .menu-menu-2-container {
        font-size: 10px;
    }
    div#shopNowLeft {
        text-align: center;
    }
    div#shopNowRight {
        text-align: center;
    }
    p.title1, p.title2{
        margin-top: -30px;
    }
    div#shopNowLeft img,
    div#shopNowRight img {
        float: none !important;
        margin-top: 10px;
    }
    button.shopNow {
        margin: 0;
        float: none;
    }
}

@media only screen and (min-width:768px) {
    .scroll-back-to-top-wrapper {
        display: none;
    }
}